/**
 * Description: Main CSS file
 * Filename...: main.css
 * Author.....: Dillon Young (C0005790)
 * 
 */	
 
* 
{
    outline: 0px solid red;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

a:link, a:visited, a:active
{
    text-decoration: none;
    color: rgb(83, 142, 213);
    font-weight: 900;
    font-family: Arial;
}

a:hover
{
    text-decoration: none;
    color: Red;
    font-weight: 900;
    font-family: Arial;
}

html, body 
{
    height: 100%;
}

body 
{
    background-color: Gray;
}

#status_message 
{
    position: fixed;
    z-index: 9999;
    display: none;
    margin-left: -355px;
    width: 700px;
    top: 10px;
    left: 50%;
    height: 20px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: White;
    opacity: 0.9;
    -webkit-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
}

.status_message_valid
{
    background-color: #99CC99;
    border: 3px solid #33AA33;
}

.status_message_invalid
{
    background-color: #CC9999;
    border: 3px solid #AA3333;
}

.status_message_warn 
{
    background-color: #CCCC33;
    border: 3px solid #AAAA00;
}

header, footer, section 
{
    margin: 0px auto;
    width: 900px;
    background-color: White;
}

header 
{
    height: 80px;
    padding-bottom: 20px;
}

header > * 
{
    padding: 5px 15px;
}

header > h1 
{
    cursor: pointer;
    padding-bottom: 0px;
}

header > h4 
{
    color: Gray;
    padding-top: 0px;
}

header > h1, header > h4 
{
    float: left;
    clear: left;
}

header > #login_area > #login_form 
{
    float: right;
    display: none;
    width: 300px;
}

header > #login_area > #login_form > p 
{
    display: block;
    float: right;
    text-align: right;
    width: 300px;
    margin: 0px;
    padding: 0px;
}

header > #login_area > #login_form > p > input 
{
    margin-bottom: 4px;
}

header > #login_area > span
{
    float: right;
    padding-left: 10px;
    font-size: 12pt;
}

header > #login_area > a 
{
    float: right;
    padding-left: 10px;
    font-size: 12pt;
    font-weight: normal;
}

header > #login_area > input 
{
    width: 100px;
}

section 
{
    min-height: 100%;
}

section > * 
{
    padding: 5px 15px;
}

section p 
{
    padding-bottom: 10px;
}

section p.button 
{
    text-align: center;
}

section label 
{
    width: 20%;
    font-weight: bold;
    display: inline-block;
}

section label.error 
{
    color: Red;
    font-weight: normal;
    width: 50%;
    padding-left: 10px;
}

section p.error 
{
    color: Red;
}

section input 
{
    padding: 5px;
}

oldsection input[type="submit"] 
{
    border: 1px solid #777777;
    background: #6e9e2d;
    padding: 10px;
    cursor: pointer;
    color: White;
    font-weight: bold;
    font-size: 12pt;
    font-variant: small-caps;
    width: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

section .window_hold
{
    display: block;
    margin: 0px auto;
}

section .window 
{
    border: 1px solid Black;
    width: 96%;
    margin: 0px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

section .window_header 
{
    background-color: Black;
    font-variant: small-caps;
    color: White;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

section .window_body 
{
    padding: 5px 10px;
}

footer 
{
    height: 40px;
    padding-top: 60px;
}

footer > p 
{
    color: Gray;
    text-align: center;
    font-size: 10px;
}

#login_form 
{
    display: none;
}

#end 
{
    clear: both;
}

.post > .postid, .post > .posttype, .post > .postdate, .post > .postcategoryid, #postdetail > .postid, #postdetail > .postdate, .user > .userid, .user > .dateregistered, .user > .accountstatus, .postcommentcount, .comment > .postid, .comment > .postdate
{
    display: none;
}

span 
{
    font-size: 12px;
    display: inline;
}

.post, #postdetail, .user
{
    margin-bottom: 20px;
    position: relative;
}

.post > p, #postdetail > span
{
    padding: 0px;
}

#postdetail > h1, .post > h2
{
    padding-bottom: 10px;
}

#postdetail > p, .comment > p
{
    padding-bottom: 0px;
}

.post > span, #postdetail > span, .user > span, .comment > span
{
    font-size: 10px;
    float: left;
    color: Gray;
}

.post > span.comments 
{
    float: right;
}

#postid, #postdetail, #postcomments, #postnewcomment 
{
    display: none;
}

#nouserloggedin 
{
    display: none;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: White;
    opacity: 0.9;
    width: 90%;
    margin: 0px auto;
    -webkit-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.5);
    background-color: #CCCC33;
    border: 3px solid #AAAA00;
}

span.comments 
{
    background-image: url('../images/comment.png');
    background-repeat:repeat-x;
    background-position: top left;
    color: White;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
}

.image 
{
    display: block;
    width: 800px;
    padding-bottom: 10px;
}

#postnewcomment > textarea 
{
    float: left;
    width: 740px;
    height: 60px;
    resize: none;
    padding: 5px;
    font-family: Arial;
    display: block;
}

#postnewcomment > button 
{
    float: right;
    display: block;
}

#postcommenthead 
{
    margin-top: 80px;
}

#nouserloggedin 
{
    margin-top: 10px;
}

#postnocomments 
{
    display: none;
}

.comment 
{
    padding-bottom: 10px;
}

.comment > img 
{
    float: left;
    padding-right: 10px;
}

.comment > p 
{
    float: left;
    display: block;
}

#postnewcomment 
{
    padding-bottom: 20px;
    display: block;
}

.comment > .space 
{
    clear: both;
}

.comment > span:first-of-type
{
    clear: none;
    float: left;
    margin-left: 42px;
}

.comment 
{
    position: relative;
}

.comment > .delete
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background-image: url("../images/delete.png");
    display: none;
    cursor: pointer;
}

#buttonhold
{
    text-align: center;
}