nav#left
{
    background-color: Red;
    width: 20%;
    padding: 0px;
    float: left;
}

nav#left ul 
{
    background-color: rgb(125, 186, 240);
    line-height: 40px;
    list-style-type: none;
}

nav#left ul li:hover 
{
    background-color: rgb(83, 142, 213);
}

nav#left ul li a 
{
    color: White;
    text-decoration: none;
}

nav#top 
{
    padding-bottom: 20px;
}

article#manage
{
    float: right;
    width: 76%;
}

article#manage > h1 
{
    font-size: 30px;
}

#newposttype, #newtextpostentry
{
    display: none;
    position: relative;
    margin-bottom: 20px;
}

#newtextpostentry input[type="text"]
{
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
}

#newtextpostentry textarea 
{
    width: 400px;
    height: 60px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
}

newtextpostentry span 
{
    clear: both;
}

newtextpostentry .space 
{
    width: 25%;
}

.post > .edit 
{
    position: absolute;
    top: 0px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url("../images/edit.png");
    display: none;
    cursor: pointer;
}

.post > .delete
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background-image: url("../images/delete.png");
    display: none;
    cursor: pointer;
}

.user > .lock
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background-image: url("../images/lock.png");
    display: none;
    cursor: pointer;
}

.user > .unlock
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background-image: url("../images/unlock.png");
    display: none;
    cursor: pointer;
}

#dialog-confirm 
{
    display: none;
    font-size: 12px;
}

span 
{
    font-size: 12px;
    display: inline;
}

.ui-dialog .ui-dialog-buttonpane 
{
    padding: 0px;
}

input#txt_title, textarea#txt_body, .buttons
{
    display: none;
}

input#txt_title
{
    width: 600px;
    padding: 5px;
    margin-bottom: 10px;
}

textarea#txt_body
{
    width: 600px;
    height: 60px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
}

span.buttons 
{
    width: 600px;
    margin-bottom: 10px;
}

.clear 
{
    clear: both;
    display: block;
}

.user > p 
{
    padding: 0px;
}